<!doctype html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Emojis</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="module.js"></script>
    <script src="contentEditableDirective.js"></script>
</head>

<body  ng-controller="homeController">
    <div ng-repeat="html in htmls" ng-bind-html="html" class="text"></div>
    <div contenteditable ng-model="text" stripBr=true class="input"></div>
</body>

</html>
