 .input {
  padding: 5px;
  margin: 5px;
  border: 1px solid #BBB;
}
.emoji {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.text {
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
}
